.group
  -form_tag workitem_path(:id => @workitem.id), :method => :put do 
    =render :partial => "events/show"
    %fieldset
      %legend 业务办理
      %table.formin
        %tr
          %th 办理方式
          %td{:colspan=>3}
            =radio_button_tag 'history[handle]', 10
            =label_tag :history_handle_10, '转办'
            =radio_button_tag 'history[handle]', 21
            =label_tag :history_handle_21, '受理'
            =radio_button_tag 'history[handle]', 30
            =label_tag :history_handle_30, '申请办结'
            =radio_button_tag 'history[handle]', 40
            =label_tag :history_handle_40, '退回'
        %tr
          %th= label_tag :department_code, "接收部门"
          %td= select_dept
          %th 截止日期
          %td=calendar_date_select_tag "finish_date", nil, :popup => :force, :class => 'calendar'
        %tr
          %th= label_tag :responser, "相关责任人"
          %td{:colspan=>3}= text_field_tag :responser, nil, :class => "long"
        %tr
          %th= label_tag :reason, "办理意见"
          %td{:colspan=>3}= text_area_tag :reason, nil, :rows => 3, :cols => 70
        %tr
          %th= label_tag :remark, "备注"
          %td{:colspan=>3}= text_area_tag :remark, nil, :rows => 3, :cols => 70

    %p.btns{:style=>"clear:left"}
      = submit_tag '保存', :disable_with => t('html.saving')
      = link_to '返回', :back

