.group
  =error_messages_for :notice
  -form_for @notice, :html => {:class=>'formin'} do |f|
    %fieldset
      %legend 公告信息
      %table
        %tr
          %th 
            = f.label :title, "标题"
            = require_star
          %td= f.text_field :title
          %td.last &nbsp;
        %tr
          %th 
            = f.label :content, "内容"
            = require_star
          %td= f.text_field :content
          %td.last &nbsp;
        -if @notice.deployed == 0
          %tr
            %th 
              = f.label :deployed, "是否发布"
            %td= f.check_box :deployed, {}, "1", "0"
            %td.last &nbsp;
    %p.btns{:style=>"clear:left"}
      -unless !@notice.id.nil?
        = submit_tag t('html.button.save'), :disable_with => t('html.saving') 
      = submit_tag t('html.button.back'), :disable_with => t('html.saving')

