%fieldset
  %legend{:style=>'font-size:14px'} 编辑联系人
  =error_messages_for :person
  -remote_form_for @person, :html => {:class => 'formpass', :id=>'formin'} do |p|
    %div#pop-errorExplanation{:style=>'display:none'}
    %table
      %tr
        %th= p.label_require :name
        %td= p.text_field :name, :is_focus => true
      %tr
        %th= p.label_require :phone
        %td= p.text_field :phone
      %tr
        %th= p.label :cardno
        %td= p.text_field :cardno
      %tr
        %th= p.label :mobile
        %td= p.text_field :mobile
      %tr
        %th= p.label :sex
        %td= p.radio_enum :sex
      %tr
        %th= p.label :email
        %td= p.text_field :email
      %tr
        %th= p.label :address
        %td= p.text_field :address
      %tr
        %th= p.label :jobunit
        %td= p.text_field :jobunit
    %p.btns
      = submit_tag '保 存', {:id=>'save'}
      = submit_tag '关 闭', {:type=>'button',:onclick=>'javascript:j.facebox.close();'}
