-remote_form_for @person, :html => {:class => 'j-form',:id => :formin} do |p|
  .j-split
  .j-panel
    .j-panel-body.panel-full{:style => "height: expression(document.documentElement.clientHeight - 50)"}
      %div#pop-errorExplanation{:style=>'display:none'}
      %table.j-form-table
        %thead
          %tr
            %th{:width=>"80px"}
            %th{:width=>"220px"}
            %th
        %tbody
          %tr
            %td= p.label_require :name
            %td= p.text_field :name, :is_focus => true
            %td &nbsp;
          %tr
            %td= p.label_require :phone
            %td= p.text_field :phone
            %td &nbsp;
          %tr
            %td= p.label :cardno
            %td= p.text_field :cardno
            %td &nbsp;
          %tr
            %td= p.label :mobile
            %td= p.text_field :mobile
            %td &nbsp;
          %tr
            %td= p.label :sex
            %td= p.radio_enum :sex
            %td &nbsp;
          %tr
            %td= p.label :email
            %td= p.text_field :email
            %td &nbsp;
          %tr
            %td= p.label :address
            %td= p.text_field :address
            %td &nbsp;
          %tr
            %td= p.label :jobunit
            %td= p.text_field :jobunit
            %td &nbsp;
    .j-panel-foot
      .j-toolbar
        %ul
          %li{:icon=>"j-icon i-create"}
            =submit_tag "保存", :class=> "hide"
            =link_to_function "保存", "j('.j-form').trigger('onsubmit')"
          %li
          %li{:icon=>"j-icon i-return"}
            = link_to_function '关闭', 'closeWindow();'
