%fieldset
  %legend 事件信息
  %table.formin
    =render :partial => "events/wavfile", :locals => {:event => @event}
    %tr
      -fields_for :person do |p|
        %th= p.label_require :phone
        %td= p.text_field :phone, :is_focus => true
      -fields_for :event do |e|
        %th= e.label_require :timing
        %td= e.calendar_date_select "timing", :time => true, :popup => :force, :class => "calendar"
    %tr
      -fields_for :person do |p|
        %th= p.label_require :name
        %td= p.text_field :name
      %th= f.label :aim
      %td= f.select :aim
    %tr
      %th= f.label :emergency
      %td= f.select :emergency
      %th= f.label :security
      %td= f.select :security
    %tr
      %th= f.label_require :title
      %td{:colspan=>3}= f.text_field :title, :class => "long"
    %tr
      %th= f.label_require :content
      %td{:colspan=>3}= f.text_area :content, :rows => 5, :cols=> 49
    =render :partial => "events/kind", :locals => { :kind => @conversation.kind}
%fieldset
  %legend 联系人详细信息
  %table.formin
    -fields_for :person do |p|
      %tr
        %th= p.label :cardno
        %td= p.text_field :cardno
        %th= p.label :mobile
        %td= p.text_field :mobile
      %tr
        %th= p.label :sex
        %td= p.select :sex
        %th= p.label :email
        %td= p.text_field :email
      %tr
        %th= p.label :address
        %td{:colspan=>3}= p.text_field :address, :class => "long"
      %tr
        %th= p.label :jobunit
        %td{:colspan=>3}= p.text_field :jobunit, :class => "long"
%fieldset
  %legend{:title=>'值班人员,接报人默认为当前用户,值班领导默认为当前用户所在机构名称'} 值班室信息
  %table.formin
    -fields_for :duty do |d|
      %tr
        %th= d.label_require :watchman
        %td= d.text_field :watchman
        %th= d.label_require :receiver
        %td= d.text_field :receiver
      %tr
        %th= d.label_require :manager
        %td{:colspan=>3}= d.text_field :manager, :class => "long"

%p.btns{:style=>"clear:left"}
  = submit_tag '保存', :disable_with => t('html.saving')
