%tr
  %td.caption{:colspan=>5} 业务办理
%tr
  %td 事件主题
  %td=@conversation.title
  %td 当前事件状态
  %td= @conversation.state_enum
  %td &nbsp;
- unless @history.nil?
  %tr
    %td 上一办理人
    %td{:colspan=>3}= "#{@history.creator.department.name} #{@history.creator.realname}(#{@history.creator.telephone}, #{@history.creator.mobile})"
    %td &nbsp;
  %tr
    %td 上一办理意见
    %td{:colspan=>3}= @history.reason
    %td &nbsp;
%tr
  %td= label_tag :history_reason, "办理意见"
  %td{:colspan=>3}= text_area_tag "history[reason]", params[:history][:reason], :rows => 3, :cols => 49, :id => "history_reason"
  %td &nbsp;
%tr
  %td="办理方式 #{require_star}"
  %td{:colspan=>3,:class=>'last'}
    -if @conversation.handles.include?(10)
      =radio_button_tag 'history[handle]', 10
      =label_tag :history_handle_10, '转办'
    -if @conversation.handles.include?(20)
      =radio_button_tag 'history[handle]', 20
      =label_tag :history_handle_20, '自己受理'
    -if @conversation.handles.include?(21)
      =radio_button_tag 'history[handle]', 21
      =label_tag :history_handle_21, '受理'
    -if @conversation.handles.include?(30)
      =radio_button_tag 'history[handle]', 30
      =label_tag :history_handle_30, '申请办结'
    -if @conversation.handles.include?(40)
      =radio_button_tag 'history[handle]', 40
      =label_tag :history_handle_40, '退回'
    -if @conversation.handles.include?(41)
      =radio_button_tag 'history[handle]', 41
      =label_tag :history_handle_41, '退回重办'
    -if @conversation.handles.include?(90)
      =radio_button_tag 'history[handle]', 90
      =label_tag :history_handle_90, '直接办结'
    -if @conversation.handles.include?(91)
      =radio_button_tag 'history[handle]', 91
      =label_tag :history_handle_91, '确认办结'
  %td &nbsp;
%tr.show_by_other
  %td= label_tag :history_department_id, "接收部门 #{require_star}"
  %td= select_dept
  %td= label_tag :history_user_id, "相关责任人 #{require_star}"
  %td#user_select= select_user
  %td &nbsp;
%tr
  %td= label_tag :history_remark, "备注"
  %td{:colspan=>3}= text_area_tag "history[remark]", params[:history][:remark], :rows => 3, :cols => 49, :id => "history_remark"
  %td &nbsp;
%script{:type=>"text/" + "javascript"}
:javascript
  j(":radio").click(function(){
    if(j(this).val()==10 || j(this).val()==30)
      j(".show_by_other").show();
    else
      j(".show_by_other").hide();
  });
  j(":radio:checked").click();
