%fieldset
  %legend 编辑用户
  =error_messages_for :user
  -form_for @user do |f|
    =f.hidden_field 'id'
    %table.formin{:width=>'600'}
      %tr
        %th
          %span.required *
          %label{:for => 'user_login'} 用户名
        %td
          = f.text_field 'login', :is_focus => true
        %th
          ="&nbsp;"
        %td
          ="&nbsp;"
      %tr
        %th
          %span.required *
          %label{:for => 'user_realname'} 姓名
        %td
          = f.text_field 'realname'
        %th
          = f.label :sex, "性别"
        %td
          = "#{f.label "sex_1", "男"}#{f.radio_button :sex, '1'}#{f.label "sex_2", "女"}#{f.radio_button :sex, '2'}"
      %tr
        %th
          %span.required *
          = f.label :department_id, "部门"
        %td
          = f.select :department_id, departments.collect{|d| [d.name, d.id]}, :include_blank => true
        %th
          = f.label :position, "职位"
        %td
          = f.text_field :position
      %tr
        %th
          %span.required *
          = f.label :telephone, "办公电话"
        %td
          = f.text_field :telephone
        %th
          = f.label :mobile, "手机"
        %td
          = f.text_field :mobile
      %tr
        %th
          = f.label :email, "电子邮箱"
        %td{:colspan=>3}
          = f.text_field :email
      %tr
        %th
          = f.label :remark, "备注"
        %td{:colspan=>3}
          = f.text_area :remark, :rows => 5, :cols=> 40
    %p.btns{:style=>"clear:left"}
      = submit_tag '确定', :id => "edit"
      %input{:type=>"button", :onclick=>"javascript:j.facebox.close()", :value=>"取消"} 
