.group
  %fieldset
    %legend 新增用户
    =error_messages_for :user
    -form_for :user, :url => users_path, :html => {:class=>"formin"} do |f|
      %table
        %tr
          %th
            = f.label 'login', "用户名"
          %td
            = f.text_field 'login', :is_focus => true
          %th
            = f.label 'password', "密码"
          %td
            = f.password_field 'password'
        %tr
          %th
            = f.label 'realname', "姓名"
          %td
            = f.text_field 'realname'
      %p.btns{:style=>"clear:left"}
        = submit_tag '保存', :id => "save"

.group
  %fieldset
    %legend 用户列表
    %table.list
      %tr
        %th 用户名
        %th 姓名
        %th 操作
      - @list.each do |user|
        %tr
          %td=user.login
          %td=user.realname
          %td=link_to '编辑', edit_user_path(user), :rel => "facebox"

