-remote_form_for @department, :html => {:class => 'j-form'} do |f|
  =f.hidden_field :parent_id
  .j-panel-head
    .j-panel-text 新增机构信息
  .j-panel-body.right-panel-full
    #pop-errorExplanation.errorExplanation{:style => 'display:none'}
    %table.j-form-table
      %thead
        %tr
          %th{:width=>"80px"}
          %th{:width=>"300px"}
          %th
      %tbody
        %tr
          %td= f.label_require :name
          %td= f.text_field :name
          %td &nbsp;
        %tr
          %td= f.label :fax
          %td= f.text_field :fax
          %td &nbsp;
        %tr
          %td= f.label :manager
          %td= f.text_field :manager
          %td &nbsp;
        %tr
          %td= f.label :telephone
          %td= f.text_field :telephone
          %td &nbsp;
        %tr
          %td= f.label :address
          %td= f.text_field :address
          %td &nbsp;
        %tr
          %td= f.label :remark
          %td= f.text_area :remark, :rows => 5
          %td &nbsp;
  .j-panel-foot
    .j-toolbar
      %ul
        %li{:icon=>"j-icon i-save"}
          =link_to_function "保存", "j('.j-form').trigger('onsubmit');"

-if @department.parent
  :javascript
    j("#tree_content").find("form,div,span,table").each(function(){
        renderManager.render(this);
    });
