-remote_form_for @department, :html => {:class => 'j-form'} do |f|
  .j-panel-head
    .j-panel-text 机构信息
  .j-panel-body.right-panel-full
    #pop-errorExplanation.errorExplanation{:style => 'display:none'}
    %table.j-form-table
      %thead
        %tr
          %th{:width=>"80px"}
          %th{:width=>"300px"}
          %th
      %tbody
        %tr
          %td= f.label_require :name
          %td= f.text_field :name
        %tr
          %td= f.label :fax
          %td= f.text_field :fax
        %tr
          %td= f.label :manager
          %td= f.text_field :manager
        %tr
          %td= f.label :telephone
          %td= f.text_field :telephone
        %tr
          %td= f.label :address
          %td= f.text_field :address
        %tr
          %td= f.label :remark
          %td= f.text_area :remark, :rows => 5, :cols=> 29
  .j-panel-foot
    .j-toolbar
      %ul
        %li{:icon=>"j-icon i-save"}
          =link_to_function "保存", "j('.j-form').trigger('onsubmit')"
        %li
        %li{:icon=>"j-icon i-ogran-create"}
          =link_to_remote '新增子机构', :update => :tree_content, :url => new_department_department_path(@department), :method => :get

:javascript
  j("#tree_content").find("form,div,span,table").each(function(){
      renderManager.render(this);
  });
