.group
  %fieldset
    %legend 机构信息
    %table
      %tr
        %th
          = "机构代码"
        %td
          = @department.code
        %th
          = "传真"
        %td
          = @department.fax
        %td.last &nbsp;
      %tr
        %th
          = "机构名称"
        %td
          = @department.name
        %th
          = "电子邮件"
        %td
          = @department.email
        %td.last &nbsp;
      %tr
        %th
          = "负责人"
        %td
          = @department.manager
        %th
          = "联系电话"
        %td
          = @department.manager
        %td.last &nbsp;
      %tr
        %th
          = "地址"
        %td{:colspan=>3}
          = @department.address
        %td.last &nbsp;
      %tr
        %th
          = "备注"
        %td{:colspan=>3}
          = @department.remark
        %td.last &nbsp;
  %p.btns{:style=>"clear:left"}
    = submit_tag '返回',{:type=>'button',:onclick=>'history.back();'}

