!!! Strict

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title 数字值班室
    =stylesheet_link_tag "/resources/css/head", "default"
    =javascript_include_tag "/resources/js/tab.js"
    =javascript_include_tag "jquery"
    -if !current_user.site.blank? && params[:record_id].nil?
      =javascript_include_tag "http://#{CALL_CENTER}/interface/mixControl.php", "http://#{CALL_CENTER}/interface/panel.php?extension=#{current_user.site}"
    %style{:type=>"text/css"}
      :sass
        body
          :background url(/resources/images/head_body_bg.jpg) repeat-x
        #secTable
          td
            :cursor pointer

  %body
    %table.head_bg{:border=>0,:cellspacing=>0,:cellpadding=>0}
      %tr
        %td.head_td1 &nbsp;
        %td
          %table.menu_bg{:cellspacing=>0,:cellpadding=>0,:width=>0}
            %tr
              %td.menu_top_left &nbsp;
              %td
                %table{:cellspacing=>0,:cellpadding=>0,:width=>0}
                  %tr#secTable
                    -@menus.each_index do |index|
                      %td.menu_ab{:onmouseover=>"secBoard(#{index})"}
                        %span=@menus[index].name
              %td.menu_top_right &nbsp;
          %table#mainTable.submenu_bg{:cellspacing=>0,:cellpadding=>0,:width=>0}
            -@menus.each_index do |index|
              %tbody{:style => index>0?"display:none":""}
                %tr
                  %td.submenu_td1
                    %a.submenu_left{:href=>"#"}
                  %td.submenu_td2
                    - @menus[index].children.each do |submenu|
                      =link_to submenu.name, submenu.path, :class => "submenu_1#{submenu.sequence}", :target => :mainFrame
                  %td.submenu_td3
                    %a.submenu_right{:href=>"#"}
  :javascript
    //修正呼叫中心控制面板菜单
    jQuery('#singheadPanel td:first').width('20%');
