%tr
  %td.caption{:colspan=>5, :title=>'值班人员,接报人默认为当前用户,值班领导默认为当前用户所在机构名称'} 值班室信息
-fields_for :duty do |d|
  %tr
    %td= d.label_require :watchman
    %td= d.text_field :watchman
    %td= d.label_require :receiver
    %td= d.text_field :receiver
    %td &nbsp;
  %tr
    %td= d.label_require :manager
    %td{:colspan=>3}= d.text_field :manager
    %td &nbsp;
