%tr
  %td.caption{:colspan=>5} 事件信息
=render :partial => "events/wavfile", :locals => {:event => event}
%tr
  %td= f.label_require :person_id
  %td{:colspan=>3, :id=>'person_td'}
    = select_person
    -if @event.new_record?
      = link_to '新增联系人', new_person_path, :id => 'add_person_btn', :onclick => "newWindow('新增联系人',href,400,300);return false;"
  %td &nbsp;
%tr
  %td= f.label_require :category
  %td{:colspan=>3}= f.radio_enum :category, params[:category]
  %td &nbsp;
%tr
  %td= f.label_require :timing
  %td{:colspan=>3}= f.calendar_date_select "timing", :time => true, :popup => :force
  %td &nbsp;
%tr
  %td= f.label :content
  %td{:colspan=>3}= f.text_area :content, :rows => 5, :cols=> 49, :is_focus => true
  %td &nbsp;
- if is_category_in?
  =render :partial => "events/duty"
