%fieldset
  %legend 业务办理
  %table.formin
    %tr
      %th="办理方式 #{require_star}"
      %td{:colspan=>3,:class=>'last'}
        -if @event.handles.include?(10)
          =radio_button_tag 'history[handle]', 10
          =label_tag :history_handle_10, '转办'
        -if @event.handles.include?(20)
          =radio_button_tag 'history[handle]', 20
          =label_tag :history_handle_20, '自己受理'
        -if @event.handles.include?(21)
          =radio_button_tag 'history[handle]', 21
          =label_tag :history_handle_21, '受理'
        -if @event.handles.include?(30)
          =radio_button_tag 'history[handle]', 30
          =label_tag :history_handle_30, '申请办结'
        -if @event.handles.include?(40)
          =radio_button_tag 'history[handle]', 40
          =label_tag :history_handle_40, '退回'
        -if @event.handles.include?(41)
          =radio_button_tag 'history[handle]', 41
          =label_tag :history_handle_41, '退回重办'
        -if @event.handles.include?(90)
          =radio_button_tag 'history[handle]', 90
          =label_tag :history_handle_90, '直接办结'
        -if @event.handles.include?(91)
          =radio_button_tag 'history[handle]', 91
          =label_tag :history_handle_91, '确认办结'
    %tr.show_by_other
      %th= label_tag :history_department_id, "接收部门 #{require_star}"
      %td= select_dept
      %th= label_tag :history_timeout, "截止日期"
      %td=calendar_date_select_tag "history[timeout]", params[:history][:timeout], :popup => :force, :class => 'calendar', :id => 'history_timeout'
    %tr.show_by_other
      %th= label_tag :history_responser, "相关责任人"
      %td{:colspan=>3}= text_field_tag "history[responser]", params[:history][:responser], :class => "long", :id => "history_responser"
    %tr
      %th= label_tag :history_reason, "办理意见"
      %td{:colspan=>3}= text_area_tag "history[reason]", params[:history][:reason], :rows => 3, :cols => 49, :id => "history_reason"
    %tr
      %th= label_tag :history_remark, "备注"
      %td{:colspan=>3}= text_area_tag "history[remark]", params[:history][:remark], :rows => 3, :cols => 49, :id => "history_remark"
    %script{:type=>"text/" + "javascript"}
      ="managers = #{dept_responser_json}"
    :javascript
      j(":radio").click(function(){
        if(j(this).val()==10 || j(this).val()==30)
          j(".show_by_other").show();
        else
          j(".show_by_other").hide();
      });
      j(":radio:checked").click();
      j("#history_department_id").change(function(){
        j("#history_responser").val(managers[j(this).val()]);
      });

