.group
  %fieldset
    %legend 日志信息
    %table
      %tr
        %th
          = "模块名称"
        %td
          = @log.modulename
        %th
          = "操作类型"
        %td
          = @log.operate_enum_op
        %td.last &nbsp;
      %tr
        %th
          = "日志内容"
        %td{:colspan=>3}
          = @log.content
        %td.last &nbsp;
      %tr
        %th
          = "操作人员"
        %td
          = @log.operator.realname
        %th
          = "操作时间"
        %td
          = @log.operatedate.to_s(:full)
        %td.last &nbsp;
      %tr
        %th
          = "IP"
        %td{:colspan=>3}
          = @log.ip
        %td.last &nbsp;
  %p.btns{:style=>"clear:left"}
    = submit_tag '返回',{:type=>'button',:onclick=>'history.back();'}

